{% extends "base.html" %}
{% load hitcount_tags %}
{% block content %}
    
    <div class="container">
        <div class="navigate">
            <span><a href="{% url 'home' %}">Página Inicial - Forum</a> >> <a href="{{post.categories.all.0.get_url}}">{{post.categories.all.0}}</a> >> <a href="{{post.get_url}}"> {{post.title}}</a></span>
        </div>

        <div class="topic-container">
            <div class="head">
                <div class="authors">Autor</div>
                <div class="content">Tópico: {{post.title}} (Lido {% get_hit_count for post %} Vezes)</div>
            </div>

            <div class="body">
                <div class="authors">
                    <div class="username">{{post.user.full_name}}</div>
                    {% if post.user.profile_pic %}
                    <img src="{{post.user.profile_pic.url}}" alt="">
                    {% endif %}
                    <div>{{post.date|date}}</div>
                </div>
                <div class="content">
                    {{post.content|safe}}
                    <br>
                    <hr>

                    <br>
                    {% if request.user.is_authenticated %}
                    <div class="comment">
                        <button onclick="showComment()">Adicionar Comentário</button>
                    </div>
                    {% else %}
                    <div class="comment">
                        <button><a href="{% url 'signin' %}">Logue para comentar</a></button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area hide" id="comment-area">
                <textarea name="comment" id="" placeholder="Escreva seu comentário aqui... "></textarea>
                <input type="submit" value="Comentar" name="comment-form">
            </div>
        </form>
        
        {% endif %}

        {% for comment in post.comments.all %}

        <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{comment.user.full_name|title}}</a></div>
                    {% if comment.user.profile_pic %}
                    <img src="{{comment.user.profile_pic.url}}" alt="">
                    {% endif %}
                    <div>{{comment.date|date}}</div>
                </div>
                <div class="content">
                    {{comment.content}}
                    <br>
                    {% if request.user.is_authenticated %}
                    <div class="comment">
                        <button onclick="showReply('comment{{comment.id}}')">Responder</button>
                    </div>
                    {% else %}
                    <div class="comment">
                        <button><a href="{% url 'signin' %}">Logue para responder</a></button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area hide" id="comment{{comment.id}}">
                <textarea name="reply" id="" placeholder="Responda aqui..."></textarea>
                <input type="submit" value="Responder" name = "reply-form">
                <input type="hidden" name="comment-id" value={{comment.id}}>
            </div>
        </form>
        
        {% for reply in comment.replies.all %}
        <div class="comments-container" style = "width: 95%; margin-left: 5%;">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{reply.user.full_name|title}}</a></div>
                    {% if reply.user.profile_pic %}
                    <img src="{{reply.user.profile_pic.url}}" alt="">
                    {% endif %}
                    <div>{{reply.date|date}}</div>
                </div>
                <div class="content">
                    {{reply.content}}
                    <br>
                </div>
            </div>
        </div>

        {% endfor %}
        {% endfor %}
    
    {% endblock content %}